{plugins, [rebar3_run]}.

{erl_opts, [debug_info]}.

{deps, [bbmustache, cowboy]}.

{shell, [
  {config, "config/sys.config"},
  {apps, [hfay]}
]}.

{relx, [
  {release, {hfay_release, "1"}, [hfay, mnesia, sasl, runtime_tools]},
  {dev_mode, true},
  {config, "config/sys.config"},
  {sys_config, "config/sys.config"},
  {extended_start_script, true}
]}.
